# Dependencias
node_modules/
Num-Back/node_modules/
Num-Front/node_modules/

# Logs y Errores
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editores y Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db


#Documentos
Cambiartodo.md
PROJECT_MANAGEMENT.md